{% extends "webikwa/base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailmarkdown %}

{% block body_class %}template-articlepage{% endblock %}

{% block content %}
  {% with page=page.specific %}
    {% include "webikwa/includes/article_singularentry.html" %}
  {% endwith %}
{% endblock %}


{% comment %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    {% with authors=page.authors.all %}
      {% if authors %}
        <h3>Posted by:</h3>
        <ul>
          {% for author in authors %}
              <li style="display: inline">
                  {% image author.author_image fill-40x60 style="vertical-align: middle" %}
                  {{ author.name }}
              </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% for article_image in page.article_images.all %}
        {% if article_image.display_before_body %}
          {% image article_image.image width-800 as article_image_image %}
          <div class="articleimage">
            <img src="{{ article_image_image.url }}" width="80%" alt="{{ article_image.alt_text }}"></a>
          </div>
        {% endif %}
    {% endfor %}

    {% include_block page.body_sf %}

    {% if page.body_md > "" %}
        {{ page.body_md|markdown }}
    {% endif %}

    {% if page.embed_url %}
      <iframe src="{{ page.embed_url }}" style="{{ page.embed_frame_style }}"></iframe>
    {% endif %}

    {% if page.document %}
      {% if page.show_doc_link %}
        <div class="document">
          <a href="{{ page.document.url }}" target="_blank">{% if page.document.title > "" %}{{ page.document.title }}{% else %}Document{% endif %}</a>({{ page.document.file_extension }})
        </div>
      {% endif %}
    {% endif %}

    {% if events %}
      {% for event in events %}
        {{ event }}
      {% endfor %}
    {% endif %}

    {% for article_image in page.article_images.all %}
        {% if article_image.display_after_body %}
          {% image article_image.image width-800 as article_image_image %}
          <div class="articleimage">
            <img src="{{ article_image_image.url }}" width="80%" alt="{{ article_image.alt_text }}"></a>
          </div>
        {% endif %}
    {% endfor %}

    {% if page.show_gallery %}
      {% for item in page.gallery_images.all %}
        <div style="float: inline-start; margin: 10px">
          {% image item.image fill-320x240 %}
        </div>
      {% endfor %}
    {% endif %}

    {% if visible_tags %}
      <div class="tags">
        <h3>Tags</h3>
        {% for tag in visible_tags %}
          <a href="{{ page.get_parent.url }}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
      </div>
    {% endif %}

{% endcomment %}
