@media (min-width: 1000px) {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  html {
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      system-ui,
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif,
      Apple Color Emoji,
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  body {
    min-height: 100vh;
  }


  .horizontalbar nav ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    list-style-position: unset;
  }
  #main {
    display: flex;
  }
  #leftsidebar, #rightsidebar {
    flex: 0 0 20%;
    width: 0;
  }
  #content {
    flex: 1 1 0;
    width: 0;
  }
  .pagezone {
    display: flex;
    gap: 1%;
    max-width:100%;
  }
  .article {
    flex: 1 1 0px;
    width: 0;
    overflow-wrap: break-word;
  }
}
