{% load wagtailcore_tags %}
{% if page.calendar_format == "EVLS" or not page.calendar_format %} 
    <ul class="event-summary">
        {% for event in events_grouped %}
            <li>
                {% if event.link %}
                    <a href="{{ event.link|safe }}">{{ event.summary }}</a>
                {% else %}
                    {% if event.description %}
                        {% comment %}
                        <a name="a_{{ event.uid }}" href="#a_{{ event.uid }}" onclick="document.getElementById('div_descr_{{ event.uid }}').style.display='block'">
                            {{ event.summary }}
                        </a>
                        <div id="div_descr_{{ event.uid }}" style="display:none">
                            {{ event.description|striptags|safe }}
                        </div>
                        {% endcomment %}

                        <a href="{% pageurl calendar %}">{{ event.summary }}</a>

                        {% else %}
                        {{ event.summary }}
                    {% endif %}
                {% endif %}
                <ul>
                    {% for start in event.starts %}
                        <li>
                            {% if start.hour %}
                                {{ start|date:datetime_formats.datetime }}
                            {% else %}
                                {{ start|date:datetime_formats.date }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% elif page.calendar_format == "DTLS" %}
    {% regroup events by start_d as events_bydate %}
    {% for event_date in events_bydate %}
    <ul class="event-date">
        <li>
            {{ event_date.grouper|date:datetime_formats.date }}
            <ul class="event">
                {% for event in event_date.list %}
                <li>
                    {% if event.start.hour %}
                        {{ event.start|date:datetime_formats.time }}
                    {% endif %}
                    {% if event.link %}
                        <a href="{{ event.link|safe }}">{{ event.summary }}</a>
                    {% else %}
                        {% if event.description %}
                            <a href="{{ event.calendar }}?uid={{ event.uid }}">
                                {{ event.summary }}
                            </a>
                            <div id="div_descr_{{ event.uid }}" style="display:none">
                                {{ event.description|striptags|safe }}
                            </div>
                            <script>
                                document.getElementById("a_{{ event.uid }}").addEventListener('click', function(e) {
                                    e.preventDefault()
                                    description = document.getElementById('div_descr_{{ event.uid }}')
                                    if(description.style.display=="none") {
                                        description.style.display="block"
                                    } else {
                                        description.style.display="none"
                                    }
                                })
                            </script>
                        {% else %}
                            {{ event.summary }}
                      {% endif %}
                    {% endif %}

                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}
{% endif %}
