
{% if child.calendar_format == "EVLS" %}
    {% regroup child.context.events by summary as events_bysummary %}
    {% for event_summary in events_bysummary %}
    <ul class="event-summary">
        <li>
            {{ event_summary.grouper }}
            <ul class="event-date">
                {% for event in event_summary.list %}
                <li>
                    {% if event.start_type == "datetime" %}
                        {{ event.start|date:" M d g:iA" }}
                    {% else %} 
                        {{ event.start_d }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}
{% elif child.calendar_format == "DTLS" %}
    {% regroup child.context.events by start_d as events_bydate %}
    {% for event_date in events_bydate %}
    <ul class="event-date">
        <li>
            {{ event_date.grouper|date:"Y M d" }}
            <ul class="event">
                {% for event in event_date.list %}
                <li>
                    {% if event.start_type == "datetime" %}{{ event.start|date:"g:iA" }} {% endif %}
                    {% if event.link %}<a href="{{ event.link|safe }}">{{ event.summary }}</a>{% else %}{{ event.summary}}{% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}
{% endif %}
